{% apply spaceless %}
  <div x-data x-tabs>
    <nav x-tabs:list class="-mb-px flex space-x-8" aria-label="Tabs">
      {# TODO: Add support for active tab #}
      {# TODO: Add support for pill tabs #}
      {% for tab in tabs %}
          <button
            x-tabs:tab
            class="flex items-center whitespace-nowrap py-4 px-1 border-b-2 font-medium text-lg"
            :class="$tab.isSelected ? 'cursor-default border-secondary-700 text-secondary-600' : 'border-transparent text-neutral-600 dark:text-neutral-300 hover:text-neutral-500  hover:border-neutral-500'"
          >
            {% if tab.icon %}
              {{ include ('castle_components:icon', { 'name': tab.icon }, with_context=false ) }}
            {% endif %}
            <span>{{ tab.label }}</span>
            {% if tab.count %}
              <span class="ml-1">({{ tab.count }})</span>
            {% endif %}
          </button>
      {% endfor %}
    </nav>
    <div x-tabs:panels>
      {% for tab in tabs %}
        <section
          x-tabs:panel
          x-transition:enter.opacity.duration.500ms
          class="py-4 subpixel-antialiased leading-6"
        >
          {{ tab.content|raw }}
        </section>
      {% endfor %}
    </div>
  </div>
{% endapply %}
