{% apply spaceless %}
  {% set classes = [
    'max-w-md', 'flex', 'flex-col', 'space-y-2', 'border', 'border-neutral-200', 'shadow-md', 'rounded-md',
    'dark:border-neutral-700'
  ] 
  %}
  {% if utilities is defined %}
    {% set classes = castle_merge_utility_classes(utilities, classes) %}
  {% endif %}
  <div {{ attributes.addClass(classes) }}>
    {% block media %}{% endblock media %}
    {% block header %}{% endblock header %}
    {% block body %}{% endblock body %}
    {% block footer %}{% endblock footer %}
  </div>
{% endapply %}