{% apply spaceless %}
  {% set classes = [
    'inline-flex', 'items-center', 'justify-center', 'gap-2', 'grow-0',
    'py-2', 'px-4',
    'border', 'border-transparent',
    'rounded-md',
    'no-underline', 'hover:no-underline',
    'text-center',
    'focus:outline-none', 'focus:ring-2', 'focus:ring-offset-2', 'focus:ring-accent'
  ] %}
  {# Prop: variant #}
  {% if variant == 'transparent' %}
    {% set classes = classes|merge(['shadow-none hover:shadow-none bg-transparent']) %}
  {% elseif variant == 'accent' %}
    {% set classes = classes|merge(['bg-accent border-accent-600 hover:bg-accent-600']) %}
  {% elseif variant == 'secondary' %}
    {% set classes = classes|merge(['bg-secondary-500 border-secondary-300 hover:bg-secondary-300']) %}
  {% else %}
    {% set classes = classes|merge(['bg-primary-800 border-primary-400 hover:bg-primary-400 text-primary-content']) %}
  {% endif %}
  {# Prop: size #}
  {% if size == 'large' %}
    {% set classes = classes|merge(['text-xl']) %}
  {% elseif size == 'small' %}
    {% set classes = classes|merge(['text-sm']) %}
  {% else %}
    {% set classes = classes|merge(['text-lg']) %}
  {% endif %}
  {# TODO: Add "href" prop and set anchor tag if href is supplied #}
  {# TODO: merge "type" prop with "attributes" #}
  {% if utilities is defined %}
    {% set classes = castle_merge_utility_classes(utilities, classes) %}
  {% endif %}
  <button
    {{ attributes.addClass(classes) }}
    {% if type != 'submit' %}x-data @click.prevent="$dispatch('castle-button-clicked')" @keydown.prevent="$dispatch('castle-button-clicked')" {% endif%}
    {% if type %}type="{{ type }}" {% endif %}
  >
    {% block content %}{% endblock content %}
  </button>
{% endapply %}